body {
    background-color: #242424;
    color: whitesmoke;
    font-family: sans-serif
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.pic-draw-header {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#main {
    display: flex;
    flex-direction: column;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;
    
}

.authenticate-text {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#captureBtn,
#saveShareBtn,
.authenticate-button,
.login-button {
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 5%;
    background-color: #0f43f1;
    padding: 10px;
    color: white;
    cursor: pointer
}

    /*#captureBtn:hover,
    #saveShareBtn:hover,
    #captureBtn:focus,
    #saveShareBtn:focus
    .login-button:hover,
    .login-button:focus{
        opacity: 0.7;
    }

    #captureBtn:active,
    #saveShareBtn:active {
        opacity: 0.4;
    }*/


.logout-button {
    font-family: sans-serif;
    background-color: #A9A9A9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 20px auto;
}

[type='color'] {
    appearance: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
    border: none;
}

.color-picker {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
    



