body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 10px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.pic-draw-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0f43f1;
    text-decoration: none;
}

#text {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.authenticate-text,
.choose-color-text {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button, .authenticate-button {
    width: 100%;
    padding: 12px;
    background-color: #0f43f1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0;
}

#captureBtn,
#saveShareBtn {
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 5%;
    background-color: #0f43f1;
    padding: 10px;
    color: white;
    cursor: pointer
}

#main {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.choose-color-text {
    margin-bottom:0;
}

.color-picker {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px;
}

.logout-button {
    font-family: sans-serif;
    background-color: #A9A9A9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 20px auto;
}

[type='color'] {
    appearance: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
}

[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type='color']::-webkit-color-swatch {
    border: none;
}


    



